<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="http://cdn.ryaneby.com/css/boilerplate-reset.min.css" media="all" rel="Stylesheet" type="text/css" />
  <link href="http://cdn.ryaneby.com/css/styles.css" media="all" rel="Stylesheet" type="text/css" />
  <meta name="description" content="Personal Blog of Ryan Eby">
  <meta name="author" content="Ryan Eby">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://cdn.ryaneby.com/favicon.ico">
  <title>{{ page.title }} - ebyblog</title>
  <script type="text/javascript" src="http://use.typekit.com/gbo8yna.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<header>
	<h1 class="vcard author"><a href="http://ryaneby.com/" title="Home" class="fn">ebyblog</a> - libraries, technology and farming</h1>
</header>
<section id="coreContent" class="hfeed">
	<div class="post hentry">
		<h5 class="postDate"><abbr class="published">{{ page.date | date: "%B %d, %Y" }}</abbr></h5>
		<h3 class="entry-title">{{ page.title }}</h3>
    <div class="entry-content">
			{{ content }}
		</div>
	</div>
</section>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'ebyblog';
    var disqus_url = "http://ryaneby.com{{post.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<div id="paginate_links">
	{% if paginator.previous_page %}
		<div class="newer"><a href="/{% unless paginator.previous_page == 1 %}page{{paginator.previous_page}}/{% endunless %}">« Newer posts</a></div>
	{% endif %}
  {% if paginator.next_page %}
  	<div class="older"><a href="/page{{paginator.next_page}}/">Older posts »</a></div>
	{% endif %}
</div>
<footer>
  <h5>Elsewhere</h5> 
  <ul class="elsewhere"> 
    <li><a href="http://www.facebook.com/ryaneby">Facebook</a></li> 
    <li><a href="http://www.flickr.com/photos/ebyryan">Flickr</a></li> 
    <li><a href="http://www.last.fm/user/eby">Last.fm</a></li> 
    <li><a href="http://pinboard.in/u:eby">Pinboard.in</a></li> 
    <li><a href="http://www.linkedin.com/in/ryaneby">Linkedin</a></li> 
    <li class="last"><a href="http://twitter.com/eby">Twitter</a></li>  
  </ul> 
</footer>
</body>
</html>
